
target/
build/
out/
bin/
*.class
*.bin
*.lock
*.jar
*.war
*.rar
.idea/
*.iml
*.iws
*.ipr
out/
server/
run/
testing/
world/
world_nether/
world_the_end/
plugins/
usercache.json
banned-players.json
banned-ips.json
white-list.json
ops.json
server.properties
eula.txt
spigot.yml
paper.yml
bukkit.yml
.DS_Store
Thumbs.db
*.log
*.tmp